:root {
    --deg-start: 0deg;
    --size-clock: 320px;
    --color-back: #1D1E22;
    --color-white: white;
    --color-prime: green;
}

html,
body {
    position: relative;
    display: flex;
    background-color: var(--color-back);
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgrey;
}

.face {
    position: relative;
    display: flex;
    width: var(--size-clock);
    height: var(--size-clock);
    border-radius: 50%;
    border: 2px solid var(--color-white);

    justify-content: center;
    box-sizing: border-box;
}

.face__center {
    position: relative;
    width: 3%;
    height: 3%;
    border-radius: 50%;
    background-color: var(--color-prime);
    margin: auto;
    z-index: 5;
}


/* ---------- CLOCK-ARROWS --------------- */
.face__arrow {
    position: absolute;
    width: .5%;
    height: 50%;
    margin-top: 2%;
    color: var(--color-white);
    border-radius: 50% 50% 3px 3px;
}

.face__arrow_time_sec {
    height: 55%;
    margin-top: 4%;
    background-color: var(--color-prime);
    transform-origin: center calc((1 - 9 / 55) * 100%);
    animation: rotate 60s steps(60) infinite;
    z-index: 20;
}

.face__arorow_weight_thick {
    width: 3%;
    background-color: var(--color-white);
}

.face__arrow_time_min {
    height: 50%;
    margin-top: 6%;
    transform-origin: center calc((1 - 6 / 50) * 100%);
    transform: rotate(var(--deg-start));
    animation: rotate 3600s steps(60, start) infinite;    
}

.face__arrow_time_hour {
    height: 44%;
    margin-top: 12%;
    transform-origin: center calc((1 - 6 / 44) * 100%);
    animation: rotate calc(3600 * 12s) linear infinite;
}

/* ---------- CLOCK-MARKS --------------- */
.face__marks {
    position: absolute;
    width: 100%;
    height: 100%;
}

.face__marks-block {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.face__marks-block:nth-child(2) {
    transform: rotate(30deg);
}

.face__marks-block:nth-child(3) {
    transform: rotate(60deg);
}

.face__marks-block:nth-child(4) {
    transform: rotate(90deg);
}

.face__marks-block:nth-child(5) {
    transform: rotate(120deg);
}

.face__marks-block:nth-child(6) {
    transform: rotate(150deg);
}

.face__mark-hour {
    position: absolute;
    width: 3%;
    height: 3%;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 calc(var(--size-clock) * -.46) 0 0 var(--color-white),
        0 calc(var(--size-clock) * .46) 0 0 var(--color-white);
}

.face__mark-min {
    position: absolute;
    width: .5px;
    opacity: .6;
    height: 90%;
    background-color: transparent;
    border: calc(var(--size-clock) * .03) solid var(--color-white);
    border-left: none;
    border-right: none;
}

.face__mark-min:nth-child(1) {
    transform: rotate(6deg);
}

.face__mark-min:nth-child(2) {
    transform: rotate(12deg);
}

.face__mark-min:nth-child(3) {
    transform: rotate(18deg);
}

.face__mark-min:nth-child(4) {
    transform: rotate(24deg);
}

/* ---------- ANIMATION --------------- */
@keyframes rotate {
    0% {
        transform: rotate(var(--deg-start));
    }
    100% {
        transform: rotate(calc(var(--deg-start) + 360deg));
    }
}

