:root {
    --deg-sec: 0deg;
    --deg-min: 0deg;
    --deg-hour: 0deg;


    --color-back: #1D1E22;
    --color-green: green;
}

html,
body {
    position: relative;
    display: flex;
    background-color: var(--color-back);
    height: 100%;
    width: 100%;
    margin: 0;
}

.wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgrey;
}

.face {
    position: relative;
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid white;

    justify-content: center;
    box-sizing: border-box;
}

.face__center {
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    background-color: var(--color-green);
    margin: auto;
    z-index: 5;
}

.face__arrow {
    position: absolute;
    width: 1px;
    height: 50%;
    margin-top: 2%;
    color: white;
    border-radius: 0 0 3px 3px;
}



.face__arrow_time_sec {
    height: 55%;
    margin-top: 5%;
    background-color: var(--color-green);
    transform-origin: center calc((1 - 10 / 55) * 100%);
    animation: seconds 10s linear infinite;
    z-index: 20;
}

.face__arrow_time_min {
    width: 6px;
    height: 50%;
    margin-top: 6%;
    background-color: white;
    transform-origin: center calc((1 - 6 / 50) * 100%);
    animation: minutes 15s linear infinite;
}

.face__arrow_time_hour {
    width: 6px;
    height: 42%;
    margin-top: 14%;
    background-color: white;
    transform-origin: center calc((1 - 6 / 42) * 100%);
    animation: hours 22s linear infinite;
}

/* ANIMATION */
@keyframes seconds {
    0% {
        transform: rotate(var(--deg-sec));
    }

    100% {
        transform: rotate(calc(var(--deg-sec) + 360deg));
    }
}

@keyframes minutes {
    0% {
        transform: rotate(var(--deg-min));
    }

    100% {
        transform: rotate(calc(var(--deg-min) + 360deg));
    }
}

@keyframes hours {
    0% {
        transform: rotate(var(--deg-hour));
    }

    100% {
        transform: rotate(calc(var(--deg-hour) + 360deg));
    }
}


/* .face__arrow_type_thick::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -5.7px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 6px solid white;
} */