:root {
    --deg-sec: 0deg;
    --deg-min: 0deg;
    --deg-hour: 0deg;

    --size-clock: 400px;


    --color-back: #1D1E22;
    --color-green: green;
}

html,
body {
    position: relative;
    display: flex;
    background-color: var(--color-back);
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgrey;
}

.face {
    position: relative;
    display: flex;
    width: var(--size-clock);
    height: var(--size-clock);
    border-radius: 50%;
    border: 2px solid white;

    justify-content: center;
    box-sizing: border-box;
}

.face__center {
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    background-color: var(--color-green);
    margin: auto;
    z-index: 5;
}



.face__arrow {
    position: absolute;
    width: 1px;
    height: 50%;
    margin-top: 2%;
    color: white;
    border-radius: 0 0 3px 3px;
}

/* ---------- CLOCK-ARROWS --------------- */
.face__arrow_time_sec {
    height: 55%;
    margin-top: 4%;
    background-color: var(--color-green);
    transform-origin: center calc((1 - 9 / 55) * 100%);
    animation: seconds 10s linear infinite;
    z-index: 20;
}

.face__arorow_weight_thick {
    width: 3%;
    background-color: white;
}

.face__arorow_weight_thick::after {
    position: absolute;
    content: "";
    transform: rotate(45deg);
    background-color: white;
    top: -2.5%;
    left: 17%;
    padding: 35%;
}

.face__arrow_time_min {
    height: 50%;
    margin-top: 6%;
    transform-origin: center calc((1 - 6 / 50) * 100%);
    animation: minutes 15s linear infinite;
}

.face__arrow_time_hour {
    height: 44%;
    margin-top: 12%;
    transform-origin: center calc((1 - 6 / 44) * 100%);
    animation: hours 22s linear infinite;
}

/* ---------- CLOCK-MARKS --------------- */
.face__marks {
    position: absolute;
    width: 100%;
    height: 100%;
}

.face__marks-block {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.face__marks-block:nth-child(2) {
    transform: rotate(30deg);
}

.face__marks-block:nth-child(3) {
    transform: rotate(60deg);
}

.face__marks-block:nth-child(4) {
    transform: rotate(90deg);
}

.face__marks-block:nth-child(5) {
    transform: rotate(120deg);
}

.face__marks-block:nth-child(6) {
    transform: rotate(150deg);
}

.face__mark-hour {
    position: absolute;
    width: 3%;
    height: 3%;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 calc(var(--size-clock) * -.45) 0 0 white,
        0 calc(var(--size-clock) * .45) 0 0 white;
}


.face__mark-min {
    width: .5px;
    height: 94%;
    background-color: transparent;
    border: calc(var(--size-clock) * .03) solid white;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    border-radius: 0;
}

.face__mark-min:nth-child(1) {
    transform: rotate(6deg);
}

.face__mark-min:nth-child(2) {
    transform: rotate(12deg);
}

.face__mark-min:nth-child(3) {
    transform: rotate(18deg);
}

.face__mark-min:nth-child(4) {
    transform: rotate(24deg);
}

/* ---------- ANIMATION --------------- */
@keyframes seconds {
    0% {
        transform: rotate(var(--deg-sec));
    }

    100% {
        transform: rotate(calc(var(--deg-sec) + 360deg));
    }
}

@keyframes minutes {
    0% {
        transform: rotate(var(--deg-min));
    }

    100% {
        transform: rotate(calc(var(--deg-min) + 360deg));
    }
}

@keyframes hours {
    0% {
        transform: rotate(var(--deg-hour));
    }

    100% {
        transform: rotate(calc(var(--deg-hour) + 360deg));
    }
}


/* .face__arrow_type_thick::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -5.7px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 6px solid white;
} */